body{
  background-color: aquamarine;
  margin-bottom:  50px;

}

.zoom-area {
  max-width: 290px;
  margin : 50px auto 80px;
  font-size: 19px;
  color: #999; }
h1{
  text-align: center;
  margin: 30px 15px;
}
.images-container{
  width: 290px;
  text-align: center;
  margin: 60px auto 60px;
}
.container-enlarge {
   display: inline-block;
   position: relative;
   z-index: 0;
   margin: 15px;
   }

.container-enlarge:hover span {
  top:-320px;
  left: -75px;
  width: 300px;
 }

.container-enlarge > img {
  height: auto;
  max-width: 100px;
  width: 150px;
  border-radius: 5px;

}

.container-enlarge span {
  position: absolute;
  top: -9999em;
  left: -9999em;
}
