<h1>{{titulo}}</h1>
<p class="zoom-area">{{descripcion}}</p>
<div class="images-container">
  <div class="container-enlarge">
    <img src="{{img+1}}" alt="">
    <span><img src="{{img+2}}" alt=""></span>
  </div>
  <div class="container-enlarge">
    <img src="{{img+3}}" alt="">
    <span><img src="{{img+4}}" alt=""></span>
  </div>
  <div class="container-enlarge">
    <img src="{{img+5}}" alt="">
    <span><img src="{{img+6}}" alt=""></span>
  </div>
  <div class="container-enlarge">
    <img src="{{img+7}}" alt="">
    <span><img src="{{img+8}}" alt=""></span>
  </div>

</div>
